#startup{
    width: fit-content;
    padding: 30px;
    margin: 20px auto 0px auto;
    border-radius: 20px;
    background-color: #c7b198;
    box-shadow: 5px 5px 10px;
}
#startup h1{
    margin-top: 0px;
}
.loginbutton-24 {
    background: var(--4);
    border: 1px solid var(--4);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  .loginbutton-24:hover,
  .loginbutton-24:active {
    background-color: initial;
    background-position: 0 0;
    color: var(--4);
  }
  
  .loginbutton-24:active {
    opacity: .5;
  }
  .input-container{
    margin-bottom: 20px;
  }
  .loginfield {
    margin-top: 10px;
    width:100%;
    height: 30px;
    border-radius: 4px;
    position: relative;
    background-color: rgba(255,255,255,0.5);
    transition: 0.3s all;
    text-align: center;
  }
  .loginfield:hover {
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  }
