#oink {
    margin: 50px; 
}

.field {
    margin-top: 10px;
    height: 30px;
    border-radius: 4px;
    position: relative;
    background-color: rgba(255,255,255,0.5);
    transition: 0.3s all;
    text-align: center;
}
  .field:hover {
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

#trans-form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto auto;
}

#trans-form .button-24 {
    width: 30%;
    margin: 10px auto 10px auto;
    justify-content: center;
}