:root {
  --1: #f0ece2;
  --2: #dfd3c3;
  --3: #c7b198;
  --4: #596e79;
}

body {
  margin: 0;
  background-color: var(--1);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: var(--3);
  color: black;
  margin: 0px 0px 40px 0px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav h3 {
  margin: 0px 0px 0px 25px;
  text-align: left;
}

nav ul {
  text-align: right;
  margin: 0px 25px 0px 0px;
}

nav li {
  display: inline-block;
  margin-left: 10px;
}
